{% extends 'base.html.twig' %}

{% block title %}Edit AncienEtudiant{% endblock %}

{% block body %}
    <h1>Edit AncienEtudiant</h1>

    {{ include('ancien_etudiant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ancien_etudiant_index') }}">back to list</a>

    {{ include('ancien_etudiant/_delete_form.html.twig') }}
{% endblock %}
