{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/adherent">Adherent</a>
        </li>
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/etablissement">Etablissement</a>
        </li>
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/formation">Formation</a>
        </li>
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/stage">Stage</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/etudiant">Etudiant</a>
        </li>
      
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/entreprise">Entreprise</a>
        </li>

          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/metier">Metier</a>
        </li>

      </ul>
      <form class="nav-item" >

        <a class="nav-link active" aria-current="page" href="/login">Connexion</a>
      </form>
    </div>
  </div>
</nav>


{% endblock %}
